<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <h2><i>XP-Whiteboard</i></h2>
      </div>
      <button
        type="button"
        class="btn btn-danger navbar-btn"
        *ngFor="let x of headlines"
        (click)="selectBoard(x.id)"
      >
        {{ x.title }}
      </button>
      <button
        *ngIf="board && token"
        type="button"
        class="btn btn-danger navbar-btn"
        [routerLink]="getCreatePath()"
      >
        Create Item
      </button>
      <button
        *ngIf="board && token"
        type="button"
        class="btn btn-danger navbar-btn"
        (click)="logout()"
      >
        logout
      </button>
      <app-login-form
        *ngIf="token == null"
        (loginEvent)="setToken($event)"
      ></app-login-form>
    </div>
  </nav>
</div>
<div class="container">
  <div *ngIf="board">
    <div class="row" *ngIf="columns.length == 4">
      <div *ngFor="let x of columns" class="col-md-3">
        <app-whiteboard-column [column]="x"></app-whiteboard-column>
      </div>
    </div>
    <div class="row" *ngIf="columns.length == 3">
      <div *ngFor="let x of columns" class="col-md-4">
        <app-whiteboard-column [column]="x"></app-whiteboard-column>
      </div>
    </div>
  </div>
</div>
