<div class="container">
  <div class="row">
    <div class="col-md-3">Name</div>
    <div class="col-md-3"><input [(ngModel)]="name" mdInput name="name" placeholder="name" required /></div>
    <div class="col-md-3">Username</div>
    <div class="col-md-3"> <input [(ngModel)]="username" mdInput name="username" placeholder="username" required />
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">Password</div>
    <div class="col-md-3"><input [(ngModel)]="password" type="password" mdInput name="password" placeholder="password"
        required /></div>
    <div class="col-md-3">Confirm</div>
    <div class="col-md-3"> <input [(ngModel)]="confirmPassword" type="password" mdInput name="confirmPassword" placeholder="confirm"
        required />
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3"> <button type="button" class="btn btn-danger navbar-btn" (click)="register()">register</button></div>
  </div>
</div>
